/app/bootstrap.php.cache
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/bin/
/composer.phar
/composer.lock
/src/BISSAP/Corebundle/Ressource/config/
/src/BISSAP/Orgabundle/Ressource/config/
/vendor/
/web/
/app/config/
