{% extends "::layout.html.twig" %}


{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

    		
 LISTE DES BENEVOLES!
{% else %}

	<!-- Modal de connexion -->
	
		<div class="modal fade" id="modalConnexion" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					
					
				</div>
			</div>
		</div>
		
		
		<!-- Modal d inscription -->
	
		<div class="modal fade" id="modalInscription" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					
				</div>
			</div>
		</div>

	
        <div class="inscription_connexion">
				
					<div>

							<a tabindex="-1" href="{{ path('fos_orga_security_login')}}" data-toggle="modal" data-target="#modalConnexion">				<div  class="div_connexion">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Connexion</div>
							</a>

					</div>
		<div>
			
		</div>		
        </div>
		  
		


{% endif %}

{% endblock %}
